<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'base.css' %}>
</head>
<body>
<div class="topnav" id="navbar">
    {% if logged_in == False %}
        <a id="login" href="/login/">log in</a>
        <a id="register" href="/signup/">register</a>
    {% endif %}

    <a id="logout" href="/logout/">
        {% if logged_in == True %}
            logout</a>
        {% endif %}
    <a id="profile" href="/profile/">
        {% if logged_in == True %}
            profile
        {% endif %}
    </a>
    <a id="panel" href="/panel/"></a>
    <a class="active" id="homepage" href="/">Home</a>
    <a id="contact_us" href="/contact_us">contact us</a>
</div>
{% block content %}
{% endblock %}
</body>
</html>