<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'base.css' %}>
</head>
<body>
<div class="topnav" id="navbar">
    {% if logged_in == False %}
        <a id="login" href="http://127.0.0.1:8000/login">log in</a>
        <a id="register" href="http://127.0.0.1:8000/signup">register</a>
    {% endif %}
    {% if logged_in == True %}
        <a id="logout">logout</a>
    {% endif %}
    <a class="active" id="homepage" href="http://127.0.0.1:8000">Home</a>
</div>
{% block content %}
{% endblock %}
</body>
</html>