{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>Sign up</h2>
    <form method="post" id="register_form">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error == "The two password fields didn't match." %}
            <div id=”errors”>
                گذرواژه و تکرار گذرواژه یکسان نیستند
            </div>
        {% endif %}
        {% if error == "A user with that username already exists." %}
            <div id=”errors”>
                نام کاربری شما در سیستم موجود است
            </div>
        {% endif %}
        <button name="submit" type="submit">sign up</button>
    </form>

{% endblock %}
