{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>Sign up</h2>
    <form method="post" id="register_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" type="submit">sign up</button>
    </form>
    <div id="errors">
            {% if error == "A user with that username already exists." %}
                نام کاربری شما در سیستم موجود است
            {% endif %}
            {% if error == "The two password fields didn't match." %}
                گذرواژه و تکرار گذرواژه یکسان نیستند
            {% endif %}
        </div>

{% endblock %}
